

.main-content{
	width: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}
.company__info{
	background-color: #008080;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.fa-android{
	font-size:3em;
}
@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color:#008080;
}
.login_form{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #008080;
	box-shadow: 0 0 5px rgba(0,80,80,.4); 
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#008080;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #008080;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btn-submit{
	background: #2a30cf;
	color: white;
	border: 0px;
}

.btn-submit:hover{
	background-color: #281bdf !important;

}

.txt-register{
	font-family:Luminari, fantasy;
	color: #999;
	font-size: 16px;
}

.txt-login-signup{
                    font-size: 35px;
                    font-family: Luminari, fantasy;
                    text-align: center;
                    margin-bottom: 27px;
                    color: #2810e2;
                
}
.btn-register{
	
	color:#0f1de1;
}

.btn-register:hover{
	color:#4463fe;
}

.btn:hover, .btn:focus{
	background-color: #008080;
	color:#fff;
}

.btn-success.active {
	background-color: #22c822; /* Brighter green */
	box-shadow: 0 0 10px #fff; /* Green shadow */
  }
  
  .btn-dark.active {
	background-color: #6c757d; /* Dull gray */
	box-shadow: 0 0 10px rgba(108, 117, 125, 0.5); /* Gray shadow */
  }
  /*Video section*/
  .video-section {
	padding: 50px 0;
  }
  
  .video-section .row {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .video-section .react-player {
	width: 100%;
  }
    /*Video section*/

	.course-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}

	.course-card {
		border: 4px solid #ccc;
		padding: 20px;
		text-align: center;
		transition: transform 0.3s ease-in-out;
	}

	.course-card:hover {
		transform: scale(1.05);
	}

	.course-card img {
		max-width: 100%;
		height: auto;
	}

	.course-card h3 {
		margin: 10px 0;
	}

	.course-card p {
		color: #555;
	}

	.course-card button {
		background-color: #3498db;
		color: #fff;
		padding: 8px 16px;
		border: none;
		cursor: pointer;
		font-size: 14px;
		transition: background-color 0.3s ease-in-out;
	}

	.course-card button:hover {
		background-color: #2980b9;
	}
	
	.add-new-course-button {
	background-color: #38a0d1;
	margin-bottom: 20px;
	}

	.add-new-course-wrapper {
		display: flex;
    align-content: end;
    flex-direction: column;
    flex-wrap: wrap;
	}

	.course-header {
		font-size: 40px;
		font-weight: bolder;
		display: flex;
		align-content: flex-start;
		margin-bottom: 20px;
		border-bottom: 3px solid #ccc;  
		
    
	}

	.course-welcome{
		font-size: 30px;
		font-weight: bolder;
		display: flex;
		align-content: flex-start;
		margin-left: 20px;
		/* margin-bottom: 10px; */
		margin-top: 25px;

	}

.row{
	align-items: baseline;
	align-content: center;
	/* background-color: #f76894; */
}

.login_register_button {
	background-color: #3498db;
	margin-right: 2px;
	padding: 8px 16px;
	border: none;
	cursor: pointer;
	font-size: 14px;
	transition: background-color 0.3s ease-in-out;	
}

.login_register_button:hover {
	background-color: #3498db;
}

.header__right__auth a{
	color:white;
}